.formulario{
    max-width: 60rem;
    color: white;
    padding: 3rem;
    margin: auto;
    font-family: 'Marcellus', serif;
}
.contactbuttom{
    margin-top: 1rem;
}
.selectlist{
    color: white;
}