/*Color especial de la página*/
$dorado: #f59f15;

/*letra cinzelada*/
.cinzel {
    color: black;
    font-family: 'Cinzel', serif;
}

.footer{
    background-color: $dorado;
    height: 15rem;
    padding: 4rem;
    text-align: center;
    border-top: black 5px solid;

    h2{
    background-color: $dorado;
    @extend .cinzel;
    }

    h3{
    background-color: $dorado;
    color: black;
    font-family: 'Marcellus', serif;
    }
    
    h4{
    background-color: $dorado;
    @extend .cinzel;    
    }
}

.fondofooter {
    background-color: $dorado;
    width: 100%;
    height: 7rem;
    position: absolute;
    left: 0; 
}

.derechos {
    margin-bottom: 0rem;
}

.seguimiento {
    margin: auto;
    margin-top: 1rem;
}

.lineicons {
    background-color: $dorado;
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

.iconredes {
    background-color: $dorado;
    background-color: black;
    width: 60px;
    height: 60px;
    border-color: black;
    border-style: solid;
    border-radius: 1rem;
    margin: 2rem;

    &:hover {
        border: none;
        opacity: 75%; }
    
    img {
        width: 100%;
        height: auto;
        border-radius: 1rem; }
}