$palette: (
    primary: black, 
    secondary: #f59f15,
    tertiary: white);

.advertencia{
    text-align: center;
    color: map-get($palette, primary);
    font-family: 'Cinzel', serif;
    background-color: map-get($palette, secondary);
    margin: 0;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.deslizar{
    color: map-get($palette, tertiary);
    text-align: center;
    margin-bottom: 1rem;
}